<!DOCTYPE html>
<html>
<title>K4CH1NG</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="https://assuredfinancialwellness.com.au/wp-content/uploads/2017/09/money-icon-blue.png">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3pro.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue.css">
<link rel="stylesheet" href="css/main.css">
<body style="max-width:600px">

<nav class="w3-sidebar w3-bar-block w3-card" id="mySidebar">
  <div class="w3-container w3-theme-d2">
    <span onclick="closeSidebar()" class="w3-button w3-display-topright w3-large">X</span>
    <br>
    <div>
      <img src="https://i.imgur.com/xcQztIL.png" alt="K4CH1NG" style="padding-right:15px;padding-bottom:15px;width:100%;">
    </div>
  </div>
  <a class="w3-bar-item w3-button" href="/logout">Logout</a>
</nav>

<header class="w3-bar w3-card w3-theme" style="left:0;right:0;top:0;">
  <button class="w3-bar-item w3-button w3-xxxlarge w3-hover-theme" onclick="openSidebar()">&#9776;</button>
  <h1 class="w3-bar-item">James Smith</h1>
</header>

<div class="w3-container">
  <hr>
  <div class="w3-cell-row">
    <div class="w3-cell w3-container">
      <h3>Account Balance:</h3>
      <h2>£4,247.63</h2>
    </div>
  </div>  
  <hr>
  <div class="w3-cell-row">
    <div class="w3-cell w3-container">
      <h3>Your Wallet:</h3>
      <label for="funds">Enter Amount: £</label>
      <input type="number" min="0" max="10000" step=".01" placeholder="0.00"/>
      <button name="funds">Add Funds</button>
    </div>
  </div>
<hr>
  <div class="w3-cell-row">
    <div class="w3-cell w3-container">
      <h3>Your Friends:</h3>
      <button>View Friends</button>
    </div>
  </div>
<hr>
</div>

<footer class="w3-container w3-theme w3-margin-top" style="position:absolute;left:0;right:0;bottom:0;">
  <h5 style="text-align:center;">Co-founded by Eric | Keratuwe | Matthew</h5>
</footer>

<script>
  closeSidebar();
  function openSidebar() {
    document.getElementById("mySidebar").style.display = "block";
  }

  function closeSidebar() {
    document.getElementById("mySidebar").style.display = "none";
  }
  </script>

</body>